/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d4d0d0;
  margin-top: 100px;
  padding: 100px;
}
.card-container {
  flex-basis: 500px;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
  border-radius: 6px;
}
.card-head {
}
.img-italian {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: -1px;
}
.card-body {
  padding: 20px;
}
.title {
  font-size: 25px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: -1px;
}
.card-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.card-rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background: red;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 30px;
}
.music-icon {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  padding: 8px;
  border-radius: 20px;
}
.card-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.btn:link,
.btn:visited {
}
.btn:hover,
.btn-active {
}
.btn-pay {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  background: #0000ff;
  padding: 25px;
  color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0px #0000ff;
}
.btn-cancel {
  text-decoration: none;
  font-size: 18px;
}
